# Contact Info
NEXT_PUBLIC_EMAIL=your-email@example.com
NEXT_PUBLIC_WHATSAPP=+94xxxxxxxxx

# Social Links
NEXT_PUBLIC_TWITTER_URL=https://x.com/your-username
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/your-profile
NEXT_PUBLIC_FACEBOOK_URL=https://facebook.com/your-username
NEXT_PUBLIC_THREADS_URL=https://www.threads.net/@your-username
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/your-username
NEXT_PUBLIC_GITHUB_URL=https://github.com/your-username
